body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    text-align: center;
    width: 100%;
}

button {
    width: 100px;
    height: 100px;
    margin: 20px;
}

h2 {
    display: block;
    width: 100%;
}